<?php
# Smarty path ##################################################################

$smarty_class = 'smarty3/Smarty.class.php'; # Debian
#$smarty_class = 'Smarty/Smarty.class.php'; # RedHat

# LDAP server settings #########################################################

# URI or hostname or address
$host = 'ldaps://ldap.example.org';

# Port number ignored if URI is used,
# but you can specify :port in URI itself
$port = 636;

# User search base
$base = 'ou=people,dc=developmentgateway,dc=org';

# Filter to select user objects, %s is replaced by login name
$filter = '(&(objectClass=inetOrgPerson)(uid=%s))';
